.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  background: rgb(6,40,87);
  background: linear-gradient(0deg, rgba(6,40,87,1) 0%, rgba(45,116,253,1) 100%);
  color: white;
}

.data-container {
  background-color: rgb(200 200 203);
}